body {
  padding: 50px 0;
  width: 100%;
  border-style: none;
  font-family: "Raleway", sans-serif;
  background: linear-gradient(
    108.1deg,
    rgb(167, 220, 225) 11.2%,
    rgb(217, 239, 242) 88.9%
  );
}
.container {
  margin: 50px 0 auto 50px;
  background-size: cover;
  padding: 0px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  background: rgba(207, 201, 201, 0.4);
  color: white;
  border: 1px solid black;
  border-radius: 60px;
  max-width: 700px;
  min-width: 400px;
  min-height: 100%;
}
h1,
p {
  margin: 0px;
  font-weight: bold;
}
form {
  display: inline-block !important;
  text-align: center;
  padding: 20px 0px 5px 0px;
  font-family: "Raleway", sans-serif;
}
#searchButton {
  border: 1px solid black;
  border-radius: 2px;
  background-color: #f4e5fc;
}
#searchButton:hover {
  background-color: #fffffd;
  color: black;
}
#citySearch-input {
  border: 1px solid black;
  border-radius: 2px;
  outline: none;
}
#citySearch-input:focus {
  border: 1px solid #fef200;
}
footer {
  text-align: center;
  font-size: 12px;
  padding: 10px 0px;
  font-family: rale;
  font-weight: bold;
}
#gitHubLink a:link {
  text-decoration: none;
  color: #676d79;
}
#gitHubLink a:visited {
  text-decoration: none;
  color: #676d79;
}
#gitHubLink a:hover {
  color: #667381;
}
